# Dependencies
node_modules/

# Environment variables
.env

# Build outputs
dist/
test-results/

# Allure
allure-results/
allure-report/

# Playwright
playwright-report/
blob-report/

# OS
.DS_Store
Thumbs.db
